---
layout: page
title: notes and reviews    
---

{% for post in site.posts %}
  {% if post.categories contains 'reads' %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      <span style="text-align: left;font-size:14.5px;padding: 2px 13px;border: none;background-color: #5f6095;border-radius: 50px;color: #fff;">
        Rating: {{post.rating}}
      </span>
      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endif %}
{% endfor %}
